<div id="payment-element"></div>

@if (cartService.cart()?.cartItems?.length) {
  @for (item of cartService.cart()?.cartItems; track item.productId) {

      <div class="flex items-center gap-4 p-4 ">
        <img
          [src]="'/assets' + item.pictureUrl"
          [alt]="item.productName"
          class="w-20 h-20 object-cover rounded"
        />
        <div class="flex-1">
          <h3 class="font-semibold text-gray-900">{{ item.productName }}</h3>
          <p class="text-sm text-gray-500">Qty: {{ item.quantity }}</p>
          <p class="text-sm text-gray-500">Unit: {{ item.price | currency }}</p>
        </div>
        <div class="font-semibold text-gray-900">{{ item.price * item.quantity | currency }}</div>
      </div>

  }
}

<hr class="my-4 border-gray-300" />

<button
  class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 disabled:opacity-50"
  [disabled]="!cartService.cart()?.cartItems?.length || isProcessing"
  (click)="1"
>
  @if (isProcessing) {
    Processing...
  } @else {
    Pay {{ cartService.totalPrice() | currency }}
  }
</button>
